<?xml version="1.0" encoding="UTF-8"?>
<plugin
    id="enterprise-appstore-plugin"
    version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>EnterpriseAppStore</name>
    <description>Enterprise App Store Plugin - Download and Install Apps</description>
    <license>MIT</license>
    <keywords>cordova, outsystems, enterprise, appstore, download, install</keywords>

    <!-- Engine requirements -->
    <engines>
        <engine name="cordova"         version=">=10.0.0" />
        <engine name="cordova-android" version=">=10.0.0" />
        <engine name="cordova-ios"     version=">=6.0.0"  />
    </engines>

    <!-- JavaScript Bridge -->
    <js-module src="www/EnterpriseAppStore.js" name="EnterpriseAppStore">
        <clobbers target="window.EnterpriseAppStore" />
    </js-module>

    <!-- ============================================================
         ANDROID
    ============================================================ -->
    <platform name="android">

        <!-- AndroidX dependencies -->
        <framework src="androidx.core:core:1.9.0" />
        <framework src="androidx.appcompat:appcompat:1.6.1" />

        <!-- Permissions -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
            <uses-permission
                android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                android:maxSdkVersion="28" />
            <uses-permission
                android:name="android.permission.READ_EXTERNAL_STORAGE"
                android:maxSdkVersion="32" />
        </config-file>

        <!-- FileProvider registration (NO <receiver> - using inline registerReceiver) -->
        <config-file target="AndroidManifest.xml" parent="application">
            <provider
                android:name="com.enterprise.appstore.EnterpriseAppStoreFileProvider"
                android:authorities="${applicationId}.enterprise.appstore.provider"
                android:exported="false"
                android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/enterprise_appstore_paths" />
            </provider>
        </config-file>

        <!-- Cordova feature registration -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="EnterpriseAppStore">
                <param name="android-package"
                       value="com.enterprise.appstore.EnterpriseAppStore" />
            </feature>
        </config-file>

        <!-- Java source files -->
        <source-file
            src="src/android/EnterpriseAppStore.java"
            target-dir="src/com/enterprise/appstore" />
        <source-file
            src="src/android/EnterpriseAppStoreFileProvider.java"
            target-dir="src/com/enterprise/appstore" />

        <!-- FileProvider paths resource file -->
        <resource-file
            src="res/android/xml/enterprise_appstore_paths.xml"
            target="res/xml/enterprise_appstore_paths.xml" />

    </platform>

    <!-- ============================================================
         iOS
    ============================================================ -->
    
<platform name="ios">

        <!-- 1. Cordova feature registration -->
        <config-file target="config.xml" parent="/*">
            <feature name="EnterpriseAppStore">
                <param name="ios-package" value="EnterpriseAppStore" />
            </feature>
        </config-file>

        <!-- 2. LSApplicationQueriesSchemes
              URLs scheme need to check in isAppInstalled()-->
        <config-file target="*-Info.plist"
                     parent="LSApplicationQueriesSchemes">
            <array>
                <string>cydia</string>
            </array>
        </config-file>

        <!-- 3. NSAppTransportSecurity
             Allow HTTPS to manifest.plist server -->
        <config-file target="*-Info.plist"
                     parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <false/>
                <key>NSExceptionDomains</key>
                <dict>
                    <!-- add domain -->
                    <key>https://hscl-dev.outsystemscloud.com</key>
                    <dict>
                        <key>NSIncludesSubdomains</key>
                        <true/>
                        <key>NSExceptionAllowsInsecureHTTPLoads</key>
                        <false/>
                    </dict>
                </dict>
            </dict>
        </config-file>

        <!-- 4. UIKit framework -->
        <framework src="UIKit.framework" weak="false" />

        <!-- 5. Swift source file -->
        <source-file src="src/ios/EnterpriseAppStore.swift" />

    </platform>


</plugin>
